@import '../../../node_modules/normalize.css';

:root {
  --font-size: 22px;
  --baseline: 1.7em;
  --primary: #400400;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--baseline);
  padding: var(--baseline);
  color: var(--primary);
  cursor: default;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: var(--baseline) 0;
}

*:first-child {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-size: inherit;
}

a, .title a:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px #22f;
}

.title a {
  border-bottom: none;
}

.project {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: max-content max-content;
  /* https://baymard.com/blog/line-length-readability */
  grid-template-columns: minmax(50ch, 75ch) auto;
  grid-column-gap: 1ch;
  column-gap: 1ch;
}

.header {
  grid-column: 1;
}

.content ul {
  list-style: none;
  padding: 0;
}

.sidebar {
  grid-row: 2;
  grid-column: 2;
  margin-bottom: 1.7em;
}

.sidebar .label {
  font-weight: 200;
  text-align: right;
  display: table-cell;
  padding-right: 1ch;
}

.sidebar .value {
  word-break: break-all;
  display: table-cell;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    grid-template-columns: auto;
  }

  .header {
    grid-column: 1;
  }

  .sidebar {
    grid-column: 1;
  }

  .sidebar .label {
    text-align: left;
  }
}
