@import '../../node_modules/normalize.css';

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7em;
  color: #890067;
  text-transform: lowercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-size: inherit;
  margin: 1.7em 0;
}

p, ul {
  margin: 1.7em 0;
}

p:first-child, ul:first-child {
  margin-top: 0;
}

a, .title-link:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px #22f;
}

.title-link {
  border-bottom: none;
}

.content ul {
  list-style: none;
  padding-left: 2ch;
}

.content li::before {
  content: "*";
  margin-left: -2ch;
  padding-right: 1ch;
}

.sidebar .label {
  font-weight: 200;
  text-align: right;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  display: inline;
}

.sidebar li:not(:last-child)::after {
  content: ', ';
}
