@import '../../node_modules/normalize.css';

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7em;
  color: #890067;
  text-transform: lowercase;
  box-shadow: 0 -20px #890067, 0 -40px #560041, 0 -60px #23001A;
  margin-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-size: inherit;
  margin: 1.7em 0;
}

p, ul {
  margin: 1.7em 0;
}

p:first-child, ul:first-child {
  margin-top: 0;
}

a, .title-link:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px #22f;
}

.title-link {
  border-bottom: none;
}

.project {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1ch;
  column-gap: 1ch;
}

.header {
  grid-column: 1 / span 2;
}

.content ul {
  list-style: none;
  padding-left: 2ch;
}

.content li::before {
  content: "*";
  margin-left: -2ch;
  padding-right: 1ch;
}

.sidebar {
  grid-row: 2;
  grid-column: 2;
}

.sidebar .label {
  font-weight: 200;
  text-align: right;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  display: inline;
}

.sidebar li:not(:last-child)::after {
  content: ', ';
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    grid-template-columns: auto;
  }

  .header {
    grid-column: 1;
  }

  .sidebar {
    grid-column: 1;
    margin-bottom: 1.7em;
  }

  .sidebar .label {
    text-align: left;
  }
}
